<link rel="preload" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400|Raleway:400|Rubik:400" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400|Raleway:400|Rubik:400"></noscript><link rel="preload" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></noscript><link rel="preload" href="https://cdn.pagefly.io/pagefly/2.0.3/css/animation-style.css?t=2019-04-16-22" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.0.3/css/animation-style.css?t=2019-04-16-22"></noscript><link rel="preload" href="https://cdn.pagefly.io/pagefly/2.0.3/css/main-style.css?t=2019-04-16-22" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.0.3/css/main-style.css?t=2019-04-16-22"></noscript><style>
					/* PageFly Element Styles */
					.IoliW__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.IoliW { padding: 15px 0px; position: relative; }
.IoliW .sc-eLExRp { position: relative; }
.IoliW[data-container="true"] .sc-eLExRp { padding: 0px 15px; width: 100%; margin: auto; }
.IoliW .pf-parallax__img { text-indent: -10000px; position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; }
.iUdgQL { margin: 0px -15px; }
.iLdPWW { margin: 0px -10px; }
.efhDmd { position: relative; }
.efhDmd.pf-editor-col::before, .efhDmd.pf-editor-col::after { content: ""; display: block; position: absolute; top: 0px; bottom: 0px; width: 10px; }
.efhDmd.pf-editor-col::before { left: -10px; }
.efhDmd.pf-editor-col::after { right: -10px; }
.iORGHt { position: relative; }
.hCTnDy { margin: 0px 0px 15px; }
.hCTnDy > a { color: inherit !important; }
.hCTnDy > span { font-weight: inherit; text-decoration: inherit; }
.hCTnDy { word-break: break-word; }
.hCTnDy.pf-i--left i { margin-right: 0.3em; }
.hCTnDy.pf-i--right i { margin-left: 0.3em; }
.hCTnDy.pf-i--top i { margin-bottom: 0.5em; }
.hCTnDy.pf-i--top > span, .hCTnDy.pf-i--top > a { display: block; }
.hCTnDy.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.hCTnDy [class*="--diamond"] { margin-right: 1em; }
.dWevfJ { display: inline-block; }
.dWevfJ { vertical-align: baseline; word-break: break-word; }
.dWevfJ:focus { outline: none; }
.kxBUTU > span:last-child { line-height: inherit; display: block; }
.kxBUTU[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.kxBUTU[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.kxBUTU.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.kxBUTU.dropcap--circle > span:first-child { border-radius: 100%; }
.kxBUTU:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.kxBUTU ol, .kxBUTU ul { list-style-position: inside; }
.kxBUTU blockquote { font-size: inherit; }
.huQPUn { margin: 0px 0px 15px; }
.huQPUn > a { color: inherit !important; }
.huQPUn > span { font-weight: inherit; text-decoration: inherit; }
.huQPUn { word-break: break-word; }
.huQPUn.pf-i--left i { margin-right: 0.3em; }
.huQPUn.pf-i--right i { margin-left: 0.3em; }
.huQPUn.pf-i--top i { margin-bottom: 0.5em; }
.huQPUn.pf-i--top > span, .huQPUn.pf-i--top > a { display: block; }
.huQPUn.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.huQPUn [class*="--diamond"] { margin-right: 1em; }
.iVqvQb { position: relative; overflow: hidden; display: inline-flex; -webkit-box-pack: start; justify-content: flex-start; align-items: flex-start; vertical-align: middle; max-width: 100%; }
.iVqvQb img { display: inline-block; object-fit: cover; max-width: 100%; max-height: 100%; height: auto; text-align: center; width: 100%; vertical-align: middle; position: unset; }
.kAYYnZ { padding: 20px; margin: 0px -15px; }
.kAYYnZ.pf-r-ew--2 > div { display: flex; }
.kAYYnZ.pf-r-ew--2 .pf-c { width: 100%; }
.kAYYnZ .pf-feature-product--vertical { width: 100%; }
.kAYYnZ .pf-feature-product--vertical .pf-feature-product__infos { padding: 20px 0px 0px; color: rgb(0, 0, 0); }
.pf-feature-product--vertical .pf-feature-product--noimage .kAYYnZ .pf-feature-product__infos { padding-top: 0px; background: blue; }
.kAYYnZ .pf-feature-product__image img { max-width: 100%; }
.kAYYnZ .pf-feature-product__infos { padding-left: 30px; }
.kAYYnZ .pf-feature-product--noimage .pf-feature-product__infos { padding-left: 0px; }
.kAYYnZ .pf-feature-product__infos > h3 { margin: 0px; font-weight: 500; }
.kAYYnZ .pf-p-prs { display: none; }
.kAYYnZ .pf-p-hs .pf-p-prr { text-decoration: line-through; opacity: 0.6; margin-right: 10px; }
.kAYYnZ .pf-p-hs .pf-p-prs { display: inline-block; }
.kAYYnZ .pf-feature-product__actions { position: relative; }
.kAYYnZ .product__variants + .pf-feature-product__actions { margin-top: 15px; display: inline-flex; }
.kAYYnZ .pf-feature-product__actions > a { text-decoration: none; }
.kAYYnZ .product__variants + .pf-feature-product__actions .js-qty { margin: 0px 10px 0px 0px; width: 100px; }
.kAYYnZ .product__variants + .pf-feature-product__actions button { height: 42px; line-height: 42px; z-index: 1; }
.kAYYnZ .product__variants + .pf-feature-product__actions :focus { outline: 0px; }
.kAYYnZ input[name="quantity"] { max-width: 60px; position: absolute; margin-right: 3px; height: 100%; padding: 0px 10px; line-height: unset; }
.kAYYnZ .js-qty input[name="quantity"] { max-width: 100px; }
.kAYYnZ .pf-fp-pr { padding: 5px 0px 15px; font-size: 20px; font-weight: bold; }
.kAYYnZ .pf-feature-product__vendor { margin-bottom: 0px; }
.kAYYnZ .pf-fp-pr s { font-size: 0.7em; margin-right: 5px; }
.kAYYnZ .pf-feature-product__viewfull, .kAYYnZ .pf-feature-product__desc { margin-top: 20px; display: block; }
.kAYYnZ .pf-feature-product__viewfull { text-decoration: underline; color: rgb(27, 28, 29); }
.kAYYnZ ul, .kAYYnZ ol { list-style-position: inside; margin: 10px 0px; }
.kAYYnZ .product__button { padding: 0px 1.5em; background: rgb(85, 193, 72); color: rgb(255, 255, 255); border: none; display: inline-flex; -webkit-box-align: center; align-items: center; height: 42px; line-height: 42px; white-space: nowrap; }
.kAYYnZ input + .product__button { margin-left: 63px; }
.kAYYnZ .product__button[disabled], .kAYYnZ .product__button[data-disabled] { pointer-events: none; opacity: 0.7; }
@media (max-width: 768px) {
  .kAYYnZ .pf-feature-product--horizontal { display: block !important; }
  .kAYYnZ .pf-feature-product__infos { padding-left: 0px; margin-top: 20px; }
}
.leQzjv { display: inline-flex; vertical-align: middle; }
.leQzjv picture { width: 100%; }
					/* PageFly Styles */
					
@media all {
	[data-pf-type="Heading"].pf-398b3d2a {
		font-size: 48px;
		 text-align: right;
		 color: white;
		 line-height: 1.25;
	}
	[data-pf-type="Paragraph"].pf-f9bf8de9 {
		font-size: 20px;
		 line-height: 26px;
		 text-align: right;
		 color: white;
		 font-weight: 700;
	}
	[data-pf-type="Section"].pf-d49ac1cd {
		padding: 100px 0px;
		 background-size: cover;
		 background-repeat: no-repeat;
		 background-image: url("https://media.pagefly.io/file/get/webpnetcompressimage-7jpg-1555376069871.jpg");
		 background-position: 50% 50%;
	}
	[data-pf-type="Heading"].pf-f41edf82 {
		text-transform: uppercase;
		 letter-spacing: 2px;
		 color: black;
		 font-family: Raleway;
		 font-weight: 500;
		 font-size: 36px;
		 text-align: center;
		 margin-top: 20px;
	}
	[data-pf-type="Heading"].pf-ee33bdc1 {
		font-family: Rubik;
		 font-weight: 300;
		 font-size: 27px;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 text-align: center;
	}
	[data-pf-type="Image"].pf-2f366b53 {
		width: 250px;
		 height: 300px;
		 justify-content: center;
		 align-items: center;
		 margin: 0px;
	}
	[data-pf-type="Heading"].pf-d406350b {
		margin-top: 0px;
		 font-family: Rubik;
		 font-size: 18px;
		 font-weight: 500;
		 text-align: center;
	}
	[data-pf-type="Image"].pf-15172cf0 {
		width: 250px;
		 height: 300px;
		 justify-content: center;
		 align-items: center;
		 margin: 0px;
	}
	[data-pf-type="Heading"].pf-0c7ef286 {
		margin-top: 0px;
		 font-family: Rubik;
		 font-size: 18px;
		 font-weight: 500;
		 text-align: center;
	}
	[data-pf-type="Image"].pf-b39026d5 {
		width: 250px;
		 height: 300px;
		 justify-content: center;
		 align-items: center;
		 margin: 0px;
	}
	[data-pf-type="Heading"].pf-60de3fc6 {
		margin-top: 0px;
		 font-family: Rubik;
		 font-size: 18px;
		 font-weight: 500;
		 text-align: center;
	}
	[data-pf-type="Image"].pf-8519db6c {
		width: 250px;
		 height: 300px;
		 justify-content: center;
		 align-items: center;
		 margin: 0px;
	}
	[data-pf-type="Heading"].pf-58fceca3 {
		margin-top: 0px;
		 font-family: Rubik;
		 font-size: 18px;
		 font-weight: 500;
		 text-align: center;
	}
	[data-pf-type="Heading"].pf-8c176d79 {
		text-transform: uppercase;
		 letter-spacing: 2px;
		 color: black;
		 font-family: Raleway;
		 font-weight: 500;
		 font-size: 36px;
		 text-align: center;
		 margin-top: 20px;
	}
	[data-pf-type="Shopify.FeaturedProduct"].pf-d9d577cf {
		font-size: 11px;
		 width: 400px;
	}
	[data-pf-type="Shopify.FeaturedProduct"].pf-d9d577cf .product__button {
		background-color: rgb(181, 140, 140);
	}
	[data-pf-type="Shopify.FeaturedProduct"].pf-e121a848 {
		font-size: 11px;
		 width: 400px;
	}
	[data-pf-type="Shopify.FeaturedProduct"].pf-e121a848 .product__button {
		background-color: rgb(181, 140, 140);
	}
	[data-pf-type="Shopify.FeaturedProduct"].pf-49fc486a {
		font-size: 11px;
		 color: rgb(70, 54, 54);
		 width: 400px;
	}
	[data-pf-type="Shopify.FeaturedProduct"].pf-49fc486a .product__button {
		background-color: rgb(181, 140, 140);
		 font-size: 11px;
		 color: white;
	}
	[data-pf-type="Shopify.FeaturedProduct"].pf-49fc486a .product__button .product__button {
		background-color: rgb(194, 142, 142);
	}
	[data-pf-type="Image"].pf-207e7147 {
		justify-content: center;
		 align-items: center;
		 width: 100%;
	}
	[data-pf-type="Paragraph"].pf-1a6ac2bc {
		text-align: center;
		 font-size: 25px;
		 font-family: Rubik;
		 font-weight: 400;
		 background-color: rgba(0, 0, 0, 0);
		 padding: 20px;
		 color: black;
	}
	[data-pf-type="Row"].pf-f53ce0c1 {
		border-style: solid;
	}
	[data-pf-type="Image"].pf-fcaf0427 {
		width: 300px;
	}
	[data-pf-type="Paragraph"].pf-dd21db2a {
		font-family: Rubik;
		 font-weight: 300;
		 font-size: 18px;
		 font-style: italic;
		 text-align: center;
	}
	[data-pf-type="Row"].pf-e702cddc {
		text-align: center;
	}
	[data-pf-type="Heading"].pf-0d1a4118 {
		text-transform: uppercase;
		 letter-spacing: 2px;
		 font-family: Raleway;
		 font-weight: 500;
		 font-size: 36px;
		 text-align: center;
	}
	[data-pf-type="Image"].pf-4140f095 {
		margin: 20px;
		 justify-content: center;
		 align-items: center;
		 width: 300px;
	}
	[data-pf-type="Column"].pf-e4bdf5d8 {
		text-align: center;
	}
	[data-pf-type="Image"].pf-0ac3a357 {
		margin: 20px;
		 justify-content: center;
		 align-items: center;
		 width: 300px;
	}
	[data-pf-type="Image"].pf-b0e86e68 {
		margin: 20px;
		 justify-content: center;
		 align-items: center;
		 width: 300px;
	}
	[data-pf-type="Row"].pf-b8cabea8 {
		margin: 0px -10px;
	}
	[data-pf-type="Section"].pf-f5fe4d12 {
		text-align: left;
	}
	[data-pf-type="Section"].pf-00e430bc {
		background-color: white;
	}
}
@media only screen and (max-width: 767px) {
	[data-pf-type="Heading"].pf-398b3d2a {
		font-size: 24px;
	}
	[data-pf-type="Paragraph"].pf-f9bf8de9 {
		font-size: 14px;
		 line-height: 22px;
	}
	[data-pf-type="Image"].pf-2f366b53 {
		justify-content: center;
	}
	[data-pf-type="Column"].pf-109467a2 {
		text-align: center;
	}
	[data-pf-type="Column"].pf-f17a69c5 {
		text-align: center;
	}
	[data-pf-type="Column"].pf-a0d0f0f8 {
		text-align: center;
	}
	[data-pf-type="Column"].pf-bc5923e8 {
		text-align: center;
	}
	[data-pf-type="Image"].pf-fcaf0427 {
		align-items: center;
		 justify-content: center;
		 width: 100%;
	}
	[data-pf-type="Paragraph"].pf-dd21db2a {
		text-align: center;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	[data-pf-type="Image"].pf-4140f095 {
		width: 300px;
		 align-items: center;
		 justify-content: center;
		 margin: 40px;
	}
	[data-pf-type="Column"].pf-e4bdf5d8 {
		text-align: center;
	}
	[data-pf-type="Image"].pf-0ac3a357 {
		width: 300px;
		 justify-content: center;
		 align-items: center;
	}
	[data-pf-type="Column"].pf-45104705 {
		text-align: center;
	}
	[data-pf-type="Image"].pf-b0e86e68 {
		align-items: center;
		 justify-content: center;
	}
	[data-pf-type="Column"].pf-218d2263 {
		text-align: center;
		 margin: 20px;
	}
}
					/*PageFlyCustomCSS*/
				</style><script src="https://cdnjs.cloudflare.com/ajax/libs/loadCSS/2.0.1/cssrelpreload.min.js" async></script><div class="__pf" id="__pf"><div class="pf-a6d859d5 sc-kTUwUJ ljwnSF" data-pf-type="Body"><div class="pf-09116764 sc-GMQeP jXMCGy" data-pf-type="Layout"><div data-container="true" class="pf-d49ac1cd sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"><div class="pf-cf1fab9f pf-r pf-r-eh sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-6f998c8a sc-cQFLBn efhDmd" data-pf-type="Column"><div class="pf-50381862 sc-jtRfpW iORGHt" data-pf-type="Block"><h1 mode="view" class="pf-398b3d2a sc-iQKALj hCTnDy" data-pf-type="Heading"><span class="pf-26a67438 sc-hGoxap dWevfJ" data-pf-type="Text">The Copper Cow <br>Subscription</span></h1><p class="pf-f9bf8de9 sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-45c7c8d3 sc-hGoxap dWevfJ" data-pf-type="Text">Never run out of coffee with our plans.<br>Save up to 50% with a subscription plan that is right for you.<br>Swap plans, skip a month, or cancel anytime.<br>&nbsp;<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br></span></p></div></div> </div></div></div></div><div data-container="true" class="pf-8fefc483 sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"></div></div><div data-container="true" class="pf-2501e5d2 sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"><div class="pf-f842c661 pf-r pf-r-eh sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-7d902af0 sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-f41edf82 sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-bd71cf52 sc-hGoxap dWevfJ" data-pf-type="Text">How OUR COFFEE IS BREWED</span></h3></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-ce2aff13 sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-ee33bdc1 sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-132b5453 sc-hGoxap dWevfJ" data-pf-type="Text">Add hot water to make the perfect pour over coffee anywhere, anytime.&nbsp;</span></h3></div> </div></div></div></div><div data-container="true" class="pf-b74def2f sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"><div class="pf-85ae5ee9 pf-r pf-r-eh pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--3 pf-c-lg--3" style="padding: 15px;"><div class="pf-109467a2 sc-cQFLBn efhDmd" data-pf-type="Column"><picture class="pf-2f366b53 sc-bMVAic iVqvQb" data-pf-type="Image"><img src="https://media.pagefly.io/file/get/tear-portable-pour-over-coffeejpg-1527024153755.jpg" alt="Tear" title="Tear"></picture><h3 mode="view" class="pf-d406350b sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-13d7bd62 sc-hGoxap dWevfJ" data-pf-type="Text">Tear</span></h3></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-f17a69c5 sc-cQFLBn efhDmd" data-pf-type="Column"><picture class="pf-15172cf0 sc-bMVAic iVqvQb" data-pf-type="Image"><img src="https://media.pagefly.io/file/get/hang-pour-over-coffeejpg-1527024163919.jpg"></picture><h3 mode="view" class="pf-0c7ef286 sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-99446b7d sc-hGoxap dWevfJ" data-pf-type="Text">Hang</span></h3></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--3 pf-c-lg--3" style="padding: 15px;"><div class="pf-a0d0f0f8 sc-cQFLBn efhDmd" data-pf-type="Column"><picture class="pf-b39026d5 sc-bMVAic iVqvQb" data-pf-type="Image"><img src="https://media.pagefly.io/file/get/pour-pourover-coffeejpg-1527024174525.jpg"></picture><h3 mode="view" class="pf-60de3fc6 sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-f4573f00 sc-hGoxap dWevfJ" data-pf-type="Text">Pour</span></h3></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--3 pf-c-lg--3" style="padding: 15px;"><div class="pf-bc5923e8 sc-cQFLBn efhDmd" data-pf-type="Column"><picture class="pf-8519db6c sc-bMVAic iVqvQb" data-pf-type="Image"><img src="https://media.pagefly.io/file/get/squeeze_optimized_360xjpg-1527024180422.jpg"></picture><h3 mode="view" class="pf-58fceca3 sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-26c3a347 sc-hGoxap dWevfJ" data-pf-type="Text">Squeeze</span></h3></div> </div></div></div></div><div data-container="true" class="pf-6fff3aa2 sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"><div class="pf-60c8bfdf pf-r pf-r-eh sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-ebdc4f99 sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-8c176d79 sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-1fa29de8 sc-hGoxap dWevfJ" data-pf-type="Text">THe SUBscriptionS</span></h3></div> </div></div><div class="pf-66f5ef08 pf-r pf-r-eh pf-r-ew--3 pf-r-ew sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-0c330f00 sc-cQFLBn efhDmd" data-pf-type="Column"><div class="pf-d9d577cf pf-r pf-r-ew--2 sc-kLIISr kAYYnZ" data-pf-type="Shopify.FeaturedProduct">{%- assign product = all_products['bi-monthly-black-coffee-subscription-20-coffees'] -%}{%- assign current_variant = product.selected_or_first_available_variant.id -%}{% if product == empty %}{%- assign price = 99 -%}{%- assign compare_at_price = 99 -%}{%- assign price_varies = false -%}{%- assign available = true -%}{% else %}{%- assign price = product.variants.first.price -%}{%- assign compare_at_price = product.variants.first.compare_at_price -%}{%- assign price_varies = product.variants.first.price_varies -%}{%- assign available = product.variants.first.available -%}{% endif %}{%- assign regular_price = price | money -%}<div class="pf-feature-product--horizontal"><div class="pf-c"><div class="pf-feature-product__image">{% if product.featured_image != blank %}<img src="{{ product.featured_image | product_img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}">{% else %}<img src="https://apps.pagefly.io/static/media/placeholder.d20f77e5.svg" class="pf-placeholder-svg">{% endif %}</div></div><div class="pf-c"><div class="pf-feature-product__infos"><h3 itemprop="name">{% unless product == empty %}
								{{ product.title }}
							{% else %}
								This is product title
							{% endunless %}</h3><div class="{% if product.variants.size == 1 or compare_at_price > price %}pf-fp-pr pf-p-hs{% else %}pf-fp-pr{% endif %}"><span class="pf-p-prr">{% if available %}{% if compare_at_price > price %}{{ compare_at_price | money }}{% else %}{{ regular_price }}{% endif %}{% else %}{{ 'pagefly.products.sold_out' | t }}{% endif %}</span><span class="pf-p-prs">{{ regular_price }}</span></div><form action="/cart/add" method="post">
										{% assign isVariations = false %}
										{% if product.variants.size > 1 %}
											{% assign isVariations = true %}
										{% endif %}
									<div class="product__variants"><select name="id" class="{% if product.variants.size == 1 or product.title == blank %}pf-hidden{% endif %}">{% for variant in product.variants %}{% if variant.available %}{% if variant.image.src %}<option data-image="{{ variant.image.src | img_url: 'master' }}" data-sale="{{ variant.compare_at_price | money }}" data-regular="{{ variant.price | money }}" value="{{ variant.id }}">{{ variant.title }}</option>{% else %}<option data-sale="{{ variant.compare_at_price | money }}" data-regular="{{ variant.price | money }}" value="{{ variant.id }}">{{ variant.title }}</option>{% endif %}{% else %}<option disabled="">Sold Out</option>{% assign available = false %}{% endif %}{% endfor %}</select></div><div class="pf-feature-product__actions">{% if product.available %}<input type="number" name="quantity" min="1" value="1"><button type="submit" class="product__button">Add to Cart</button>{% else %}<button class="product__button" disabled="">{{ 'pagefly.products.product.sold_out' | t }}</button>{% endif %}</div></form><div class="pf-feature-product__desc">Save 30% with our Black Coffee subscription. Subscription comes with 20 black coffee packs. </div></div></div></div></div></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-f23be28b sc-cQFLBn efhDmd" data-pf-type="Column"><div class="pf-e121a848 pf-r pf-r-ew--2 sc-kLIISr kAYYnZ" data-pf-type="Shopify.FeaturedProduct">{%- assign product = all_products['bi-monthly-hapa-coffee-subscription-20-coffees-10-milk'] -%}{%- assign current_variant = product.selected_or_first_available_variant.id -%}{% if product == empty %}{%- assign price = 99 -%}{%- assign compare_at_price = 99 -%}{%- assign price_varies = false -%}{%- assign available = true -%}{% else %}{%- assign price = product.variants.first.price -%}{%- assign compare_at_price = product.variants.first.compare_at_price -%}{%- assign price_varies = product.variants.first.price_varies -%}{%- assign available = product.variants.first.available -%}{% endif %}{%- assign regular_price = price | money -%}<div class="pf-feature-product--horizontal"><div class="pf-c"><div class="pf-feature-product__image">{% if product.featured_image != blank %}<img src="{{ product.featured_image | product_img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}">{% else %}<img src="https://apps.pagefly.io/static/media/placeholder.d20f77e5.svg" class="pf-placeholder-svg">{% endif %}</div></div><div class="pf-c"><div class="pf-feature-product__infos"><h3 itemprop="name">{% unless product == empty %}
								{{ product.title }}
							{% else %}
								This is product title
							{% endunless %}</h3><div class="{% if product.variants.size == 1 or compare_at_price > price %}pf-fp-pr pf-p-hs{% else %}pf-fp-pr{% endif %}"><span class="pf-p-prr">{% if available %}{% if compare_at_price > price %}{{ compare_at_price | money }}{% else %}{{ regular_price }}{% endif %}{% else %}{{ 'pagefly.products.sold_out' | t }}{% endif %}</span><span class="pf-p-prs">{{ regular_price }}</span></div><form action="/cart/add" method="post">
										{% assign isVariations = false %}
										{% if product.variants.size > 1 %}
											{% assign isVariations = true %}
										{% endif %}
									<div class="product__variants"><select name="id" class="{% if product.variants.size == 1 or product.title == blank %}pf-hidden{% endif %}">{% for variant in product.variants %}{% if variant.available %}{% if variant.image.src %}<option data-image="{{ variant.image.src | img_url: 'master' }}" data-sale="{{ variant.compare_at_price | money }}" data-regular="{{ variant.price | money }}" value="{{ variant.id }}">{{ variant.title }}</option>{% else %}<option data-sale="{{ variant.compare_at_price | money }}" data-regular="{{ variant.price | money }}" value="{{ variant.id }}">{{ variant.title }}</option>{% endif %}{% else %}<option disabled="">Sold Out</option>{% assign available = false %}{% endif %}{% endfor %}</select></div><div class="pf-feature-product__actions">{% if product.available %}<input type="number" name="quantity" min="1" value="1"><button type="submit" class="product__button" data-pf-event="4089c709">Add to Cart</button>{% else %}<button class="product__button" disabled="">{{ 'pagefly.products.product.sold_out' | t }}</button>{% endif %}</div></form><div class="pf-feature-product__desc"> Save over 50% with our Hapa Coffee subscription. Subscription comes with 20 black coffee packs and 10 milks. </div></div></div></div></div></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-67c53a3e sc-cQFLBn efhDmd" data-pf-type="Column"><div class="pf-49fc486a pf-r pf-r-ew--2 sc-kLIISr kAYYnZ" data-pf-type="Shopify.FeaturedProduct">{%- assign product = all_products['bi-monthly-classic-coffee-subscription-20-coffees-20-milks'] -%}{%- assign current_variant = product.selected_or_first_available_variant.id -%}{% if product == empty %}{%- assign price = 99 -%}{%- assign compare_at_price = 99 -%}{%- assign price_varies = false -%}{%- assign available = true -%}{% else %}{%- assign price = product.variants.first.price -%}{%- assign compare_at_price = product.variants.first.compare_at_price -%}{%- assign price_varies = product.variants.first.price_varies -%}{%- assign available = product.variants.first.available -%}{% endif %}{%- assign regular_price = price | money -%}<div class="pf-feature-product--horizontal"><div class="pf-c"><div class="pf-feature-product__image">{% if product.featured_image != blank %}<img src="{{ product.featured_image | product_img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}">{% else %}<img src="https://apps.pagefly.io/static/media/placeholder.d20f77e5.svg" class="pf-placeholder-svg">{% endif %}</div></div><div class="pf-c"><div class="pf-feature-product__infos"><h3 itemprop="name">{% unless product == empty %}
								{{ product.title }}
							{% else %}
								This is product title
							{% endunless %}</h3><div class="{% if product.variants.size == 1 or compare_at_price > price %}pf-fp-pr pf-p-hs{% else %}pf-fp-pr{% endif %}"><span class="pf-p-prr">{% if available %}{% if compare_at_price > price %}{{ compare_at_price | money }}{% else %}{{ regular_price }}{% endif %}{% else %}{{ 'pagefly.products.sold_out' | t }}{% endif %}</span><span class="pf-p-prs">{{ regular_price }}</span></div><form action="/cart/add" method="post">
										{% assign isVariations = false %}
										{% if product.variants.size > 1 %}
											{% assign isVariations = true %}
										{% endif %}
									<div class="product__variants"><select name="id" class="{% if product.variants.size == 1 or product.title == blank %}pf-hidden{% endif %}">{% for variant in product.variants %}{% if variant.available %}{% if variant.image.src %}<option data-image="{{ variant.image.src | img_url: 'master' }}" data-sale="{{ variant.compare_at_price | money }}" data-regular="{{ variant.price | money }}" value="{{ variant.id }}">{{ variant.title }}</option>{% else %}<option data-sale="{{ variant.compare_at_price | money }}" data-regular="{{ variant.price | money }}" value="{{ variant.id }}">{{ variant.title }}</option>{% endif %}{% else %}<option disabled="">Sold Out</option>{% assign available = false %}{% endif %}{% endfor %}</select></div><div class="pf-feature-product__actions">{% if product.available %}<input type="number" name="quantity" min="1" value="1"><button type="submit" class="product__button" data-pf-event="8f9c971e">Add to Cart</button>{% else %}<button class="product__button" disabled="">{{ 'pagefly.products.product.sold_out' | t }}</button>{% endif %}</div></form><div class="pf-feature-product__desc"> Save over 40% with our Classic Coffee subscription. Subscription comes with 20 black coffee packs and 20 creamers. </div></div></div></div></div></div> </div></div></div></div><div data-container="true" class="pf-2f856b80 sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"></div></div><div data-container="true" class="pf-03e1ff1d sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"><div class="pf-b158d625 pf-r pf-r-eh sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-7e4fb9db sc-cQFLBn efhDmd" data-pf-type="Column"><picture class="pf-207e7147 sc-bMVAic iVqvQb" data-pf-type="Image"><img src="https://media.pagefly.io/file/get/webpnetcompressimage-5jpg-1555375760297.jpg"></picture></div> </div></div></div></div><div data-container="true" class="pf-f5fe4d12 sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"><div class="pf-72f23e29 pf-r pf-r-eh sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-9f16b616 sc-cQFLBn efhDmd" data-pf-type="Column"><div class="pf-6fa5dd2a pf-r pf-r-eh sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--4 pf-c-lg--3" style="padding: 15px;"><div class="pf-1139ab0b sc-cQFLBn efhDmd" data-pf-type="Column"></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--4 pf-c-lg--6" style="padding: 15px;"><div class="pf-ba3645ca sc-cQFLBn efhDmd" data-pf-type="Column"></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--4 pf-c-lg--3" style="padding: 15px;"><div class="pf-0e9f643f sc-cQFLBn efhDmd" data-pf-type="Column"></div> </div></div><div class="pf-f53ce0c1 pf-r pf-r-eh sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-b14bc4fd sc-cQFLBn efhDmd" data-pf-type="Column"><p class="pf-1a6ac2bc sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-b6cc480f sc-hGoxap dWevfJ" data-pf-type="Text">"California-based Copper Cow Coffee has created a craveable Vietnamese-style cup you can whip up anywhere... The simple addition of hot water yields a strong, nutty brew, while the packet of sweetened condensed milk vastly outclasses other shelf-stable creamers. Now, going off the grid doesn’t have to mean forgoing your morning ritual."</span></p></div> </div></div><div class="pf-e702cddc pf-r pf-r-eh sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-8eb3e178 sc-cQFLBn efhDmd" data-pf-type="Column"><a href="https://graphics.wsj.com/image-grid/OD50Summer2018/6723/build-a-better-instant-brew-" target="_self" class="pf-fcaf0427 sc-bAeIUo leQzjv" data-pf-type="Image"><picture class="sc-bMVAic iVqvQb"><img src="https://media.pagefly.io/file/get/wsjpng-1528823935389.png"></picture></a><p class="pf-dd21db2a sc-emmjRN kxBUTU" data-pf-type="Paragraph"><span class="pf-edb2be19 sc-hGoxap dWevfJ" data-pf-type="Text">Top Summer Product 2018</span></p></div> </div></div></div> </div></div><div class="pf-17615fa7 pf-r pf-r-eh sc-daURTG iUdgQL" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-010a9c1a sc-cQFLBn efhDmd" data-pf-type="Column"><h3 mode="view" class="pf-0d1a4118 sc-ibxdXY huQPUn" data-pf-type="Heading"><span class="pf-8257ea0d sc-hGoxap dWevfJ" data-pf-type="Text">Also found at our beloved retailers</span></h3></div> </div></div><div class="pf-b8cabea8 pf-r pf-r-eh sc-daURTG iLdPWW" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--4 pf-c-lg--4" style="padding: 10px;"><div class="pf-e4bdf5d8 sc-cQFLBn efhDmd" data-pf-type="Column"><picture class="pf-4140f095 sc-bMVAic iVqvQb" data-pf-type="Image"><img src="https://media.pagefly.io/file/get/macys2png-1528823456382.png"></picture></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--4 pf-c-lg--4" style="padding: 10px;"><div class="pf-45104705 sc-cQFLBn efhDmd" data-pf-type="Column"><picture class="pf-0ac3a357 sc-bMVAic iVqvQb" data-pf-type="Image"><img src="https://media.pagefly.io/file/get/ws-2jpg-1528823551200.jpg"></picture></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--4 pf-c-lg--4" style="padding: 10px;"><div class="pf-218d2263 sc-cQFLBn efhDmd" data-pf-type="Column"><picture class="pf-b0e86e68 sc-bMVAic iVqvQb" data-pf-type="Image"><img src="https://media.pagefly.io/file/get/cpwm_red_standard_c21m97y91k12_websitejpg-1554246088645.jpg"></picture></div> </div></div></div></div><div data-container="true" class="pf-00e430bc pf-lg--hidden pf-md--hidden sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"><div class="pf-d124249d pf-r pf-r-eh sc-daURTG iUdgQL" data-pf-type="Row"></div></div></div><div data-container="true" class="pf-013eef32 sc-cbkKFq IoliW" data-pf-type="Section"><div class="sc-eLExRp lfgpeQ" style="max-width: 1170px;"></div></div></div></div></div><script>
					window.__pagefly_options__=window.__pagefly_options__||[],window.__pagefly_options__.push({});
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","isBackend":false};
					window.__pfEvents={"4089c709":{"pixel":"fbq('track', 'AddToCart');"},"8f9c971e":{"pixel":"fbq('track', 'AddToCart');"}};
				</script><script src="https://cdn.pagefly.io/pagefly/2.0.3/core/helper.js?t=2019-04-16-22" defer></script>